<div class="mt-20 relative">
  <div class="flex flex-row justify-center gap-2 py-3 px-2">
    <input
      type="search"
      class="py-1 md:py-3 px-3 text-sm sm:text-lg text-white w-full lg:w-96 rounded-xl text-center focus:outline-none focus:bg-white focus:text-gray-900 hover:bg-gray-100 border-slate-900 border shadow-2xl shadow-white"
      placeholder="What we work on ......"
    />
    <button
      class="bg-slate-950 text-white md:text-lg rounded-md px-3 shadow-2xl shadow-slate-950"
    >
      search
    </button>
  </div>
</div>
